<% if @event.comments.size > 0 %>
<p>Comments: </p>
    <ol>
        <li>
            <%= @event.comments.first.user.username %> says: <em><%= @event.comments.first.content %></em>
        </li>
    </ol>
<% end %>



