<h1>Upcoming events in Seattle area</h1>

<% @events.each do |event| %>
    <%= link_to event_path(event) do %>
    <p><%= event.name %> on <%= event.time%> in <%= event.location  %> </p>
    <% end %>
<% end %>


        


