<h3> You are going to  <%= @event.name %> </h3>
<p> Remember the event details:</p>
<p><%= @event.time %></p>
<p><%= @event.location %></p>

<br></br>
<p> <%=link_to 'Check out all events', events_path %></p>